{% extends 'base.html' %}
{% load static %}

{% block content %}

    {% include 'components/navigation/navbar.html' %}
    
    <div class="pt-5 mt-5 rounded-3">
        <div class="container py-5 mt-5">
            <h2>Add auction</h2>
            <hr>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <form action="{% url 'add_auction' %}" method="POST">
                    {% csrf_token %}
                    {{ auction_form | crispy }}
                    <button type="submit">Next</button>
                </form>
            </div>
        </div>
    </div>

    {% include 'components/footer/footer.html' %}

{% endblock%}


