{% extends 'base.html' %}
{% load static %}

{% block content %}

    {% include 'components/navigation/navbar.html' %}
    
    <div class="pt-5 mt-5 rounded-3">
        <div class="container py-5 mt-5">
            <h2>Add auction</h2>
            <hr>
        </div>
    </div>

    <!-- Add Auction form -->
    <div class="container">
        <div class="row">
            <div class="col-12">
                <form action="{% url 'add_auction' %}" method="POST">
                    {% csrf_token %}
                    {{ auction_form | crispy }}
                    <div class="container m-5">
                        <button type="submit" class="btn btn-danger">Add Auction</button>
                        <a href="{% url 'auctionsmng' %}" class="btn btn-outline-danger">Go Back</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

    {% include 'components/footer/footer.html' %}

{% endblock%}


