{% extends 'base.html' %}
{% load static %}


{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
{% endblock %}

{% block content %}

    {% include 'components/navigation/navbar.html' %}
    
    <div class="pt-5 mt-5 rounded-3">
        <div class="container py-5 mt-5">
            <h2>Auctions Management</h2>
            <hr>
        </div>
    </div>

    <div class="container">
        <div class="col">
            <p>
                <span>Want to manage your <strong>Products</strong>? </span> 
                <a href="{% url 'products' %}" class="btn btn-outline-danger">Click here</a>
            </p>
        </div>
    </div>

        <div class="container mb-5 text-center">
            <div class="col">
                <a href="{% url 'add_auction' %}" class="btn btn-outline-danger">Add Auctions</a>
            </div>
        </div>

    <div class="container">
        <table id="auctions" class="display table-responsive">
            <thead>
                <tr class="text-center">
                    <th>Is sold</th>
                    <th>Product</th>
                    <th>Base Amount</th>
                    <th>Bidding Increment</th>
                    <th>Start Date Time</th>
                    <th>End Date Time</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for auction in auctions %}
                    <tr class="text-center">
                        {% if auction.is_sold %}
                            <td><i class="fas fa-check"></i></td>
                        {% else %}
                            <td><i class="fas fa-times"></i></td>
                        {% endif %}
                        <td>{{ auction.product }}</td>
                        <td>{{ auction.base_amount }}</td>
                        <td>{{ auction.bidding_increment }}</td>
                        <td>{{ auction.start_date_time }}</td>
                        <td>{{ auction.end_date_time }}</td>
                        <td><a href="{% url 'edit_auction' auction.id %}"><i class="fas fa-edit fa-lg"></i></a></td>
                        <td><a href="#a{{auction.id}}" data-bs-toggle="modal" data-bs-target="#a{{auction.id}}" aria-label="Open delete auction modal"><i class="fas fa-trash-alt"></i></a></td>
                        {% include 'auctionsmng/delete_auction_modal.html' %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>    

    {% include 'components/footer/footer.html' %}

{% endblock%}


{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        $(document).ready( function () {
            $('#auctions').DataTable();
        } );
    </script>

{% endblock %}