<div class="modal fade" id="a{{ product }}" tabindex="-1" aria-labelledby="{{product}}" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-body">
            <p class="mb-4">Are you sure you want to delete product {{ product }}?</p> 
        </div>
        <div class="modal-footer">
            <a class="button" href="{% url 'delete_product' product.id %}" aria-label="Delete">Yes</a>
            <button type="button" class="button" data-bs-dismiss="modal">No</button>
        </div>
        </div>
    </div>
</div>
