{% extends 'base.html' %}
{% load static %}

{% block content %}

    {% include 'components/navigation/navbar.html' %}
    
    <div class="pt-5 mt-5 rounded-3">
        <div class="container py-5 mt-5">
            <h2>Edit product</h2>
            <hr>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <form action="{% url 'edit_product' product.id %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in product_form %}
                        {% if field.name != 'images' %}
                            {{ field | as_crispy_field }}
                        {% else %}
                            
                            {% if images %}
                                <p class="mt-4">Current Images:</p> 
                                <div class="col-12">
                                    {% for image in images %}
                                        <img height="auto" width="150" height="150" src="{{ image.image.url }}" alt="image">
                                    {% endfor %}
                                    <p class="text-danger my-0">
                                        <span class="icon">
                                            <i class="fas fa-exclamation-circle"></i>
                                        </span>
                                        <small>In order to update your images, please proceed to the Django admin page</small>
                                    </p> 
                                </div>
                                {% else %}
                                <div class="col-12">
                                    <p class="text-danger my-0">
                                        <span class="icon">
                                            <i class="fas fa-exclamation-circle"></i>
                                        </span>
                                        <small>This products has no images yet. Please proceed to the Django admin page to add images.</small>
                                    </p> 
                                </div>
                                {% endif %}
                            </div>
                        {% endif %}
                    {% endfor %}
                    <div class="mt-4">
                        <button type="submit" class="btn btn-danger">Update product</button>
                        <a href="{% url 'products' %}" class="btn btn-outline-danger">Go Back</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

    
    
    {% include 'components/footer/footer.html' %}

{% endblock%}

