{% extends 'base.html' %}
{% load static %}

{% block content %}

    {% include 'components/navigation/navbar.html' %}
    
    <div class="pt-5 mt-5 rounded-3">
        <div class="container py-5 mt-5">
            <h2>Edit auction</h2>
            <hr>
        </div>
    </div>
    
    <!-- Edit Auction Form -->
    <div class="container">
        <div class="row">
            <div class="col-12">
                <form action="{% url 'edit_auction' auction.id %}" method="POST">
                    {% csrf_token %}
                    {% for field in auction_form %}

                        <!-- If the field is datetimefield, display reminder of required format -->
                        {% if field.name == "start_date_time" %}
                            {{ field | as_crispy_field }}
                            <p class="text-danger my-0">
                                <span class="icon">
                                    <i class="fas fa-exclamation-circle"></i>
                                </span>
                                <small>Please ensure you keep the following format: yyyy-mm-dd hh:mm:ss</small>
                            </p> 
                        {% elif field.name == "end_date_time" %}
                            {{ field | as_crispy_field }}
                            <p class="text-danger my-0">
                                <span class="icon">
                                    <i class="fas fa-exclamation-circle"></i>
                                </span>
                                <small>Please ensure you keep the following format: yyyy-mm-dd hh:mm:ss</small>
                            </p> 
                        {% else %}
                            {{ field | as_crispy_field }}
                        {% endif %}
                    {% endfor %}
                    <div class="col-12 mt-4">
                        <button type="submit" class="btn btn-danger">Update auction</button>
                        <a href="{% url 'auctionsmng' %}" class="btn btn-outline-danger">Go Back</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

    {% include 'components/footer/footer.html' %}

{% endblock%}


