{% extends 'base.html' %}
{% load static %}

{% block content %}

    {% include 'components/navigation/navbar.html' %}
    
    <div class="pt-5 mt-5 rounded-3">
        <div class="container py-5 mt-5">
            <h2>Edit product</h2>
            <hr>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <form action="{% url 'edit_product' product.id %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in product_form %}
                        {% if field.name != 'images' %}
                            {{ field | as_crispy_field }}
                        {% else %}
                            {{ field }}
                        {% endif %}
                    {% endfor %}
                    <button type="submit" class="btn btn-danger">Update product</button>
                    <a href="{% url 'products' %}" class="btn btn-outline-danger">Go Back</a>
                </form>
            </div>
        </div>
    </div>

    {% include 'components/footer/footer.html' %}

{% endblock%}

