{% extends 'base.html' %}
{% load static %}


{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
{% endblock %}

{% block content %}

    {% include 'components/navigation/navbar.html' %}

    <div class="pt-5 mt-5 rounded-3">
        <div class="container py-5 mt-5">
            <h2>Products Management</h2>
            <hr>
        </div>
    </div>

    <div class="container">
        <div class="col">
            <p>
                <span>Want to go back to <strong>Auctions Manager</strong>? </span> 
                <a href="{% url 'auctionsmng' %}" class="btn btn-outline-danger">Click here</a>
            </p>
        </div>
    </div>

     <!--  Display of all products in responsive DataTable -->
    <div class="container mb-5 text-center">
        <div class="col">
            <a href="{% url 'add_product' %}" class="btn btn-outline-danger">Add Product</a>
        </div>
    </div>

    <div class="container">
        <div class="table-responsive">
            <table id="products" class="display table">
                <thead>
                    <tr class="text-center">
                        <th>Title</th>
                        <th>Description</th>
                        <th>Category</th>
                        <th>Measurements</th>
                        <th>Condition</th>
                        <th>Created on:</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in products %}
                        <tr class="text-center">
                            <td>{{ product }}</td>
                            <td>{{ product.description }}</td>
                            <td>{{ product.category }}</td>
                            <td>{{ product.measurements }}</td>
                            <td>{{ product.condition }}</td>
                            <td>{{ product.creation_date }}</td>
                            <td><a href="{% url 'edit_product' product.id %}"><i class="fas fa-edit fa-lg"></i></a></td>

                            <!-- Triggers delete modal to confirm deletion of product -->
                            <td><a href="#a{{product.id}}" data-bs-toggle="modal" data-bs-target="#a{{product.id}}" aria-label="Open delete product modal"><i class="fas fa-trash-alt"></i></a></td>
                            {% include 'auctionsmng/delete_product_modal.html' %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    

    {% include 'components/footer/footer.html' %}

{% endblock%}


{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        $(document).ready( function () {
            $('#auctions').DataTable();
            $('#products').DataTable();
        } );
    </script>

{% endblock %}