{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
{% endblock %}

{% block content %}

    {% include 'components/navigation/navbar.html' %}
    
    <div class="pt-5 mt-5 rounded-3">
        <div class="container py-5 mt-5">
            <h2>Products</h2>
            <hr>
        </div>
    </div>

    <div class="container">
        <table id="products-table" class="display">
            <thead>
                <tr class="text-center">
                    <th>Product</th>
                    <th>Description</th>
                    <th>Category</th>
                    <th>Measurements</th>
                    <th>Brand</th>
                    <th>Condition</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                    <tr class="text-center">
                        <td>{{ product }}</td>
                        <td>{{ product.description }}</td>
                        <td>{{ product.category }}</td>
                        <td>{{ product.measurements }}</td>
                        <td>{{ product.brand }}</td>
                        <td>{{ product.condition }}</td>
                        <td><a href="{% url 'edit_product' product.id %}"><i class="fas fa-edit fa-lg"></i></a></td>
                        <td><a href="#a{{product}}" data-bs-toggle="modal" data-bs-target="#a{{product}}" aria-label="Open delete product modal"><i class="fas fa-trash-alt"></i></a></td>
                        {% include 'auctionsmng/delete_product_modal.html' %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {% include 'components/footer/footer.html' %}

{% endblock%}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.js"></script>
    <script type="text/javascript">
        $(document).ready( function () {
            $('#products-table').DataTable();
        });
    </script>

{% endblock %}
