{% extends 'base.html' %}
{% load static %}

{% block content %}

    {% include 'components/navigation/navbar.html' %}
    
    <!-- Jumbotron -->
    <div class="p-5 m-4 rounded-3">
        <div class="container-fluid mt-55 py-5">
            <div class="row align-items-md-stretch">
                <div class="col-lg-4">
                    <div class="h-100 p-5 rounded-3 text-center">
                        <img src="{{ MEDIA_URL}}dusty_lantern_logo.png" alt="" class="img-fluid">
                    </div>
                </div>
                <div class="col-lg-8 text-center">
                    <div class="h-100 p-5 rounded-3">
                        <h2 class="display-5 fw-bold">Welcome to the Dusty Lantern®</h2>
                        <p class="col fs-2">Because (re)New is always better!</p>
                        <div>
                            {% if request.user.is_authenticated %}
                                <a href="{% url 'auctions' %}" class="btn btn-danger btn-lg mt-3" type="button">See all auctions</a>                     
                            {% else %}
                                <a href="{% url 'account_signup' %}" class="btn btn-danger btn-lg" type="button">Register</a>
                                <a href="{% url 'account_login' %}" class="btn btn-danger btn-lg" type="button">Login</a>
                            {% endif %}              
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="cont">
        <div class="row">
            <div class="col-12 col-md-10 offset-md-1">
                <h2>Ongoing auctions!</h2>
                <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-1">
                    {% for auction in auctions %}
                        <div class="card">
                            <div class="card-body">

                            {% for image in auction.product.images.all %}
                            {% if image.main_image %}
                                <img class = "card-img-top card-img-preview" src="{{image.image.url}}" alt="{{ product.title }}">
                            {% endif %}
                            {% endfor %}

                                <hr>
                                <p class="text-end">
                                    <span class="badge bg-secondary">{{ auction.product.category.friendly_name }}</span>
                                    <span class="badge bg-secondary">{{ auction.product.condition.friendly_description}}</span>
                                </p>
                                {% if auction.product.brand %}
                                    <h2 class="card-title">{{ auction.product.title }} | {{ auction.product.brand }}</h2>
                                {% else %}
                                    <h2 class="card-title">{{ auction.product.title }}</h2>
                                {% endif %}
                                <p class="card-text">{{ auction.product.description}}</p>
                                <p><i class="fas fa-money-bill-alt fa-2x"></i> Base amount: € {{ auction.base_amount }}</p>
                                
                                

                                <div class="start_date_time" hidden>{{ auction.start_date_time|date:"Y-m-d H:i:s" }} </div>
                                <div class="end_date_time" hidden>{{ auction.end_date_time|date:"Y-m-d H:i:s" }} </div>

                                <p>
                                    <i class="fas fa-clock fa-2x"></i> 
                                    <span class="countdowntimer"></span>
                                </p>
                            </div>
                        <!-- Card footer -->
                            <div class="card-footer text-center">
                                <a href="{% url 'auction_detail' auction.id %}" class="btn btn-outline-danger">See details</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>  
            </div>
        </div>
    </div>

    {% include 'components/footer/footer.html' %}

{% endblock%}