{% extends 'base.html' %}
{% load static %}

{% block content %}

    {% include 'components/navigation/navbar.html' %}
    
    
    <div class="pt-5 mt-5 rounded-3">
        <div class="container py-5 mt-5">
            <h2>{{ user_profile }}'s dashboard</h2>
            <hr> 
        </div>
    </div>

    <div class="row">
        <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
        <!-- User's personal information -->
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <h3 class="mb-3">Default Delivery Information</h3>
                        <form action="{% url 'profile' %}" method="POST" id="profile-update-form">
                            {% csrf_token %}
                            {{ form | crispy }}
                            <button class="btn btn-danger mt-5">Update my info</button>
                        </form>
                    </div>
            <!-- User's orders history -->
                    <div class="col-lg-7">
                <h3>Your orders</h3>
                    {% for order in orders %}
                    <h4><a href="{% url 'order_history' order %}">Order number {{ order }}</a></h4>

                        {% for item in order.lineitems.all %}
                            <div class="row">
                                <div class="col-2 mb-1">
                                    <a href="#">
                                        {% for image in item.auction.product.images.all %}
                                            {% if image.main_image %}
                                                <img src="{{ image.image.url }}" class="auction_main_image">
                                            {% endif %}
                                        {% endfor %}
                                    </a>
                                </div>
                                <div class="col-7">
                                    <p class="my-0"><strong>{{ item.auction.product }}</strong></p>
                                    <p class="my-0"><strong>{{ item.lineitem_total }}</strong></p>
                                </div>
                            </div>
                        {% endfor %}

                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'components/footer/footer.html' %}
    
{% endblock%}