{% extends 'base.html' %}
{% load static %}

{% block content %}

    {% include 'components/navigation/navbar.html' %}
    
    <div class="pt-5 mt-5 rounded-3">
        <div class="container py-5 mt-5">
            <h2>{{ user_profile }}'s dashboard</h2>
            <hr> 
        </div>
    </div>

    <div class="container">
        <div class="row">
            <!-- User's pending payments -->
            <div class="col-lg-8 offset-lg-2">
                <h3 class="mb-5 ps-2">Pending payments</h3>
                <div class="table-responsive table-sm text-center ">
                    <table class="table table-hover table-sm">
                        <thead>
                            <tr>
                                <th scope="col">Article Image</th>
                                <th scope="col">Article</th>
                                <th scope="col">Bid</th>
                                <th scope="col">Checkout</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for bid in winning_bids %}
                                <tr>
                                    <td scope="row">        
                                        <!-- Display main image of the product -->
                                        {% for image in bid.auction.product.images.all %}
                                            {% if image.main_image %}
                                                <img class = "card-img-top auction_main_image" src="{{image.image.url}}" alt="{{ product.title }}">
                                            {% endif %}
                                        {% endfor %}
                                    </td>
                                    <td scope="row">{{ bid.auction }}</td>
                                    <td scope="row">
                                        <span>€ {{ bid.bid }} </span>
                                    <td scope="row">
                                        <a href="{% url 'add_to_cart' bid.auction.id %}" class="btn btn-outline-danger">
                                            <i class="fas fa-shopping-cart fa-2x"></i>
                                        </a>
                                    </td>
                                </tr>
                                {% empty %}
                                <tr>
                                    <td scope="row">
                                        <span><i class="fas fa-glass-cheers fa-2x"></i> Congratulations, you do not have any pending payments!</span>
                                    </td>
                                    <td>
                                        <span>-</span>
                                    </td>
                                    <td>
                                        <span>-</span>
                                    </td>
                                    <td>
                                        <span>-</span>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="row m-5">
            <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
                <hr>        
                <!-- User's personal information -->
                <div class="row">
                    <div class="col-lg-4">
                        <h3 class="mb-3">Default Delivery Information</h3>
                        <form action="{% url 'profile' %}" method="POST" id="profile-update-form">
                            {% csrf_token %}
                            {{ form | crispy }}
                            <button class="btn btn-danger my-5">Update my info</button>
                        </form>
                    </div>

                    <!-- User's orders history -->
                    <div class="col-lg-7">
                        <h3>Your Orders</h3>
                        <div class="table-responsive">
                            <table class="table table-hover table-sm">
                                <thead>
                                    <tr>
                                        <th scope="col">Article Image</th>
                                        <th scope="col">Order Number</th>
                                        <th scope="col">Article</th>
                                        <th scope="col">Amount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for order in orders %}
                                        <tr>
                                            {% for item in order.lineitems.all %}
                                                {% for image in item.auction.product.images.all %}
                                                    {% if image.main_image %}
                                                        <td><img src="{{ image.image.url }}" class="auction_main_image" alt="auction-main-image"></td>
                                                    {% endif %}
                                                {% endfor %}
                                            <td scope="row">
                                                <a href="{% url 'order_history' order %}" id="order_num" title="{{order }}">{{ order | truncatechars:10 }}</a>
                                            </td>
                                            <td scope="row">{{ item.auction.product }}</td>
                                            <td scope="row">€ {{ item.lineitem_total }}</td>
                                        </tr>
                                    
                                    {% endfor %}
                                </tbody>
                                {% empty %}
                                    <tr>
                                        <td scope="row">
                                            <span>You don't have any orders yet!</span>
                                        </td>
                                        <td>
                                            <span>-</span>
                                        </td>
                                        <td>
                                            <span>-</span>
                                        </td>
                                        <td>
                                            <span>-</span>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'components/footer/footer.html' %}
    
{% endblock%}