{% extends 'base.html' %}
{% load static %}

{% block content %}

    {% include 'components/navigation/navbar.html' %}
    
    <div class="pt-5 mt-5 rounded-3">
        <div class="container-fluid py-5 mt-5">
            <h2>Ongoing Auctions</h2>
            <hr>
        </div>
    </div>

    <!-- Category filter nav -->
    <div class="container">
      <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link category-filter" href="{% url 'auctions' %}?category=accessories"><i class="fas fa-hat-cowboy fa-2x"></i> Accessories</a>
        </li>
        <li class="nav-item">
          <a class="nav-link category-filter" href="{% url 'auctions' %}?category=vehicles"><i class="fas fa-car-side fa-2x"></i> Vehicles</a>
        </li>
        <li class="nav-item">
          <a class="nav-link category-filter" href="{% url 'auctions' %}?category=music"><i class="fas fa-music fa-2x"></i> Music</a>
        </li>
        <li class="nav-item">
          <a class="nav-link  category-filter" href="{% url 'auctions' %}?category=home_appliances"><i class="fas fa-blender fa-2x"></i> Home Appliances</a>
        </li>
        <li class="nav-item">
          <a class="nav-link category-filter" href="{% url 'auctions' %}?category=furniture"><i class="fas fa-couch fa-2x"></i> Furniture</a>
        </li>
        <li class="nav-item">
          <a class="nav-link category-filter" href="{% url 'auctions' %}?category=electronics"><i class="fas fa-laptop fa-2x"></i> Electronics</a>
        </li>
        <li class="nav-item">
          <a class="nav-link category-filter" href="{% url 'auctions' %}?category=decoration"><i class="fas fa-magic fa-2x"></i> Decoration</a>
        </li>
        <li class="nav-item">
          <a class="nav-link category-filter" href="{% url 'auctions' %}?category=clothes"><i class="fas fa-tshirt fa-2x"></i> Clothes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link category-filter" href="{% url 'auctions' %}?category=books"><i class="fas fa-book fa-2x"></i> Books</a>
        </li>
        <li class="nav-item">
          <a class="nav-link category-filter" href="{% url 'auctions' %}?category=art"><i class="fas fa-palette fa-2x"></i> Art</a>
        </li>
      </ul>
    </div>
    <!-- Auction Cards -->
    <div class="row row-cols-1 row-cols-md-2 g-4">
        {% for auction in auctions %}
            <div class="col col-md-4 col-lg-3">
                <div class="card">
                    <div class="card-body">
                        {% for image in auction.product.images.all %}
                            {% if image.main_image %}
                                <img class = "card-img-top" src="{{image.image.url}}" alt="{{ product.title }}">
                            {% endif %}
                        {% endfor %}
                        <hr>
                        <p class="text-end">
                            <a href="#"><i class="far fa-star fa-2x nav-link"></i></a>
                        </p>
                        <h2 class="card-title">{{ auction.product.title }} | {{ auction.product.brand }}</h2>
                        <p class="card-text">{{ auction.product.description}}</p>
                        <p><i class="far fa-money-bill-alt fa-2x"></i> {{ auction.base_amount }}</p>
                        <p><i class="fas fa-gavel fa-2x"></i> Here comes the current bid</p>
                        <!-- If starting_date is after current date, show countdown until the start of the auction -->
                        <p><i class="far fa-clock fa-2x"></i> Here comes the countdown timer</p>
                        <!-- Else, countdown until ending_date -->
                    </div>
                    <div class="card-footer">
                        <a href="{% url 'auction_detail' auction.id %}" class="btn btn-outline-danger">See details</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock%}