@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Montserrat+Alternates&family=Vast+Shadow&display=swap');

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Montserrat", monospace, Haettenschweiler, sans-serif;
    color: #393E46;
}

h1 {
    font-family: 'Vast Shadow', monospace, Haettenschweiler, sans-serif;
    color: #EEEEEE;
    font-size: 3rem;
}

a {
    color: #EEEEEE;
    text-decoration: none;
}

footer {
    position: static;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #393E46;
    color: #EEEEEE;
}

.btn-danger,
.btn-outline-danger{
    background-color:#9A031E;
    border-color: #9A031E;
    font-size: 1.3rem;
}

.btn-outline-danger{
    color: #EEEEEE;
}

/* Auction cards */

.card-img-top {
    width: 100%;
    object-fit: cover;
}

.card-img-preview {
    width: 100%;
    height: 30vh;
    object-fit: cover;
}

.card-footer {
    background-color: transparent
    ;

}

/* Navbar */

.nav-link, .nav-item,
.navbar-dark {
    color: #EEEEEE !important;
}

.nav-link:focus, .nav-link:hover,
.nav-item:focus, .nav-item:hover,
a:focus, a:hover {
    text-decoration: none;
    color: #EEEEEE;
}

#dlbrand{
    font-size: min(max(2rem, 7vw), 5rem);
}

#dlbrand-nav:focus, #dlbrand-nav:hover {
    text-decoration: none;
}

.mt-55 {
    margin-top: calc(50px + (60 - 50) * ((100vw - 360px) / (1600 - 360))) !important
}

.category-filter,
.add-fav {
    width: min-content;
    text-align: center;
    color: #9A031E;
    display: block;
    padding: 0.5rem;
}

.category-filter:focus, .category-filter:hover,
.add-fav:focus, .add-fav:hover {
color: #dc3545;
}

.btntop {
    position: fixed;
    display: none;
    bottom: 5vh;
    right: 5vw;
    z-index: 9999;
    color: #9A031E;
    border-color: #9A031E;
    cursor: pointer;
    font-size: 1.7rem;
}

.btntop:hover {
    background-color: #9A031E;
    padding: 1.9rem;
    transition: ease-in-out;
}

/* Jumbotron */
.container-fluid {
    background: #393E46;
    color: #EEEEEE;
}

/* ensures the increment/decrement arrows always display on input field type number */
/* Credits to https://davidwalsh.name/always-show-arrows-for-number-input */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
    opacity: 1;
}


/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* Checkout */

#checkout {
    margin-top: 12rem;
}

.auction_main_image {
    width: 10rem;
    height: 10rem;
}

