@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Montserrat+Alternates&family=Vast+Shadow&display=swap');

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Montserrat", Impact, Haettenschweiler, sans-serif;
    color: #393E46;
}

h1 {
    font-family: 'Vast Shadow', Impact, Haettenschweiler, sans-serif;
    color: #EEEEEE;
    font-size: 6rem;
}

.btn-danger,
.btn-outline-danger{
    background-color:#9A031E;
    border-color: #9A031E;
    font-size: 1.3rem;
}

.btn-outline-danger{
    color: #EEEEEE;
}

.card-img-top {
    width: 100%;
    object-fit: cover;
}

.category-filter{
    width: min-content;
    text-align: center;
}

.nav-link{
    color: #9A031E;
}

.nav-link:focus, .nav-link:hover{
    color: #dc3545;
}

.btntop{
    position: fixed;
    display: none;
    bottom: 5vh;
    right: 5vw;
    z-index: 9999;
    color: #9A031E;
    border-color: #9A031E;
    cursor: pointer;
    font-size: 1.7rem;
}

.btntop:hover{
    background-color: #9A031E;
    padding: 1.9rem;
    transition: ease-in-out;
}


/* ensures the increment/decrement arrows always display on input field type number */
/* Credits to https://davidwalsh.name/always-show-arrows-for-number-input */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
  opacity: 1;
}


/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
    color: red;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}
