{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Up Closed" %}{% endblock %}

{% block content %}

    {% include 'components/navigation/navbar.html' %}

    <div class="pt-5 mt-5 rounded-3">
        <div class="container py-5 mt-5">
            <h2>{% trans "Sign Up Closed" %}</h2>
            <hr>
        </div>
    </div>

    <div class="container">
        <p>{% trans "We are sorry, but the sign up is currently closed." %}</p>
    </div>

    {% include 'components/footer/footer.html' %}

{% endblock %}
