{% load static %}

<header class="container-fluid fixed-top">
    <div class="row">
        <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 text-center text-lg-left">
            <a href="{% url 'home' %}" class="nav-link main-logo-link">
                <img src="media/images/dusty_lantern_logo" alt="Dusty Lantern Logo">
                <h1 class="logo-font text-black my-0">Dusty Lantern</h1>
            </a>
        </div>
        <div class="col-12 col-lg-4">
            {% if request.user.is_authenticated %}
                {% if request.user.is_superuser %}
                    <a href="">Auctions Management</a>
                {% endif %}
                <a href="#">Auctions</a>
                <a href="#">My Dashboard</a>
                <a href="{% url 'account_logout' %}">Logout</a>
            {% else %}
                <a href="{% url 'account_signup' %}">Register</a>
                <a href="{% url 'account_login' %}">Login</a>
            {% endif %}
        </div>
    </div>
</header>