{% load static %}

<header>
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark py-0">
        <div class="container-fluid py-3">
            <a class="navbar-brand" id="dlbrand-nav" href="{% url 'home' %}">
                <h1 id="dlbrand">Dusty Lantern</h1>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDustyLantern" aria-controls="navbarTogglerDustyLantern" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDustyLantern">
                <form method="GET" action="{% url 'auctions' %}" class="d-flex">
                    <input class="form-control me-2" type="search" name="q" placeholder="Search Auctions" aria-label="Search Auctions">
                    <button class="btn btn-outline-danger" type="submit">Search</button>
                </form>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    {% if request.user.is_authenticated %}
                        {% if request.user.is_superuser %}
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <div class="text-center">
                                    <div><i class="fas fa-edit fa-lg"></i></div>
                                    <p class="my-0">Auction Management</p>
                                </div>
                            </a>
                        </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'auctions' %}">
                                <div class="text-center">
                                    <div><i class="fas fa-gavel fa-lg"></i></div>
                                    <p class="my-0 display-lg">Auctions</p>
                                </div>
                            </a>
                        </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'profile' %}">
                                    <div class="text-center">
                                        <div><i class="fas fa-user-alt fa-lg"></i></div>
                                        <p class="my-0 display-lg">My Dashboard</p>
                                    </div>
                                </a>
                            </li>
                            <!-- <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <div class="text-center">
                                        <div><i class="fas fa-shopping-bag fa-lg"></i></div>
                                        <p class="my-0">
                                            {% if grand_total %}
                                                € {{ grand_total|floatformat:2 }}
                                            {% else %}
                                                € 0.00
                                            {% endif %}
                                        </p>
                                    </div>
                                </a>
                            </li>  -->
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'account_logout' %}">
                                    <div class="text-center">
                                        <div><i class="fas fa-sign-out-alt fa-lg"></i></div>
                                        <p class="my-0 display-lg">Logout</p>
                                    </div>
                                </a>
                            </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'account_signup' %}">
                                <div class="text-center">
                                    <div><i class="fas fa-user-edit fa-lg"></i></div>
                                    <p class="my-0 display-lg">Register</p>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'account_login' %}">
                                <div class="text-center">
                                    <div><i class="fas fa-sign-in-alt fa-lg"></i></div>
                                    <p class="my-0 display-lg">Login</p>
                                </div>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</header>